body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #543864;
  margin-top: 50px auto 0 auto;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color:#11999E ;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

h4 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

hr {
  border: dotted #bbded6 6px;
  border-bottom: none;
  width: 14%;
  height: 10%;
  margin: 100px auto;
}

a {
  color: #eb6383;
  margin: 10px 20px;
  text-decoration: none;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.top-container {
  background-color: #eb6383;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  background-color: #fae3d9;
  padding-top: 100px;
  padding-bottom: 100px;
}

.bottom-container {
  background-color: #61c0bf;
  margin-bottom: 0;
  padding-top: 50px;
  padding-bottom: 50px;
}

.pro {
  text-decoration: underline;
}

p {
  color: #87556f;
  line-height: 2;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.girl-icon {
  height: 200px;
  width: 200px;
}

.intro {
  width: 30%;
  margin: auto;
}

.copyright {
  padding: 20px 0;
  color: #F0FFF0;
}

.java-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.cpp-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.python-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.css-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.btn {
  background-color: #61C0BF;
  border-radius: 8px;
  color: #FFFFFF;
  font-family: Arial;
  font-size: 20px;
  font-weight: 100;
  padding: 20px;
  box-shadow: 1px 1px 20px 0 #000000;
  text-shadow: 1px 1px 20px #000000;
  border: solid #337FED 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.btn:hover {
  border: solid #FFFFFF 2px;
  background: #1ED0BF;
  border-radius: 8px;
  text-decoration: none;
}
